<template>
    <section class="course">
        <div class="container">
            <div class="course-illustration">
                <img src="" alt="" data-course="illustration" />
            </div>

            <div class="course-information">
                <h3 data-course="title"></h3>

                <p data-course="description"></p>

                <ul class="contents" data-course="contents">
                    <li class="contents-entry"></li>
                </ul>

                <ol class="lessons" data-course="lessons">
                    <li class="lessons-entry"></li>
                </ol>

                <div class="actions">
                    <a href="#" class="action-primary" onclick="alert('Not implemented')">Make Appointment</a>
                    <a href="#" class="action-secondary" onclick="alert('Not implemented')">Read more</a>
                </div>
            </div>
        </div>
    </section>
</template>