<section class="faq">
    <div class="container">
        <div class="faq-heading-container">
            <h3>Frequently asked questions</h3>
            <img src="img/question-mark.svg" alt="" />
        </div>
        
        <div class="faq-questions-container">
            <div class="question-answer">
                <span class="question">How do you make holy water?</span>
                <span class="answer">You boil the hell out of it. Lorem ipsum dolor sit amet consctetur adipisicing elit. Quas cupiditate laboriosam fugiat.</span>
            </div>
            <div class="question-answer">
                <span class="question">What do you call someone with no body and no nose?</span>
                <span class="answer">Nobody knows. Lorem ipsum dolor sit amet consctetur adipisicing elit. Quas cupiditate laboriosam fugiat.</span>
            </div>
            <div class="question-answer">
                <span class="question">Why do you never see elephants hiding in trees?</span>
                <span class="answer">Because they're so good at it. Lorem ipsum dolor sit amet consctetur adipisicing elit. Quas cupiditate laboriosam fugiat.</span>
            </div>
        </div>
    </div>
</section>