<section class="faq" aria-label="faq">
    <div class="container">
        <div class="faq-heading-container">
            <h2>Frequently asked questions</h2>
            <img src="/img/question-mark.svg" alt="" />
        </div>
        
        <dl class="faq-questions-container">
            <div class="question-answer">
                <dt class="question">How do you make holy water?</dt>
                <dd class="answer">You boil the hell out of it. Lorem ipsum dolor sit amet consctetur adipisicing elit. Quas cupiditate laboriosam fugiat.</dd>
            </div>
            <div class="question-answer">
                <dt class="question">What do you call someone with no body and no nose?</dt>
                <dd class="answer">Nobody knows. Lorem ipsum dolor sit amet consctetur adipisicing elit. Quas cupiditate laboriosam fugiat.</dd>
            </div>
            <div class="question-answer">
                <dt class="question">Why do you never see elephants hiding in trees?</dt>
                <dd class="answer">Because they're so good at it. Lorem ipsum dolor sit amet consctetur adipisicing elit. Quas cupiditate laboriosam fugiat.</dd>
            </div>
        </dl>
    </div>
</section>
