<footer class="footer">
    <div class="container">
        <div class="footer-branding">
            <img class="footer-logo" src="img/logo.svg" alt="Pro Students Cottbus"/>
            <span class="footer-vision">Solving PC Problems, Consulting Companies and giving IT Courses</span>
        </div>

        <nav class="footer-links">
            <div id="footer-links-for-companies">
                <a href="for_companies.html" class="headlink"
                    >For Companies</a
                >
                <a href="consulting_for_companies.html">Consulting</a>
                <a href="it_courses_for_companies.html">IT Courses</a>
            </div>

            <div id="footer-links-for-private">
                <a href="courses_for_private.html" class="headlink"
                    >For Private</a
                >
                <a href="courses_for_children.html">Children Courses</a>
                <a href="courses_for_students.html">Student Courses</a>
                <a href="courses_for_seniors.html">Senior Courses</a>
            </div>

            <div id="footer-links-other">
                <a class="headlink">Other</a>
                <a href="computer_repairing.html">PC Problems</a>
                <a href="about_us.html">About Us</a>
            </div>

            <div id="footer-links-legal">
                <a class="headlink">Legal</a>
                <a href="imprint.html">Imprint</a>
                <a href="privacy.html">Privacy</a>
                <a href="terms.html">Terms</a>
            </div>
        </nav>
        
        <span id="copyright-notice">© Pro Students Cottbus, All rights reserved.</span>
        <div id="foot-legal-links">
            <a href="imprint.html">Imprint</a>
            <a href="privacy.html">Privacy</a>
            <a href="terms.html">Terms</a>
        </div>
    </div>
</footer>
