<section class="page-heading" aria-label="page-heading">
    <div class="container">
        <div class="page-heading-illustration">
            <img src="/%illustration%" alt="" />
        </div>

        <div class="page-heading-text">
            <h1>
                <span class="main-title">%title%</span>
                <span class="sub-title">%subtitle%</span>
            </h1>

            <div class="actions">
                <a href="#" class="action-primary" onclick="alert('Not implemented')">Contact us</a>
                <a href="#" class="action-secondary" onclick="alert('Not implemented')" aria-label="Read more about our services in this field">Read more</a>
            </div>
        </div>
    </div>
</section>
