<section class="page-heading">
    <div class="container">
        <div class="page-heading-illustration">
            <img src="/%illustration%" alt="" />
        </div>

        <div class="page-heading-text">
            <h1>
                <span class="main-title">%title%</span>
                <span class="sub-title">%subtitle%</span>
            </h1>

            <div class="page-heading-legal-links">
                <a href="imprint.html" class="%imprint-active%">Imprint</a>
                <a href="privacy.html" class="%privacy-active%">Privacy</a>
                <a href="terms.html"   class="%terms-active%">Terms</a>
            </div>
        </div>
    </div>
</section>
