<section class="page-heading-course" aria-label="page-heading">
    <div class="container">
        <img src="/%illustration%" alt="" />

        <h1>
            <span class="main-title">%title%</span>
            <span class="sub-title">%subtitle%</span>
        </h1>

        <div class="actions">
            <a href="#" class="action-primary" onclick="alert('Not implemented')">Make appointment</a>
            <a href="#" class="action-secondary" onclick="alert('Not implemented')">Contact us</a>
        </div>
    </div>
</section>
