<nav class="navbar">
    <div class="container">
        <div class="navbar-left">
            <a href="index.html">
                <img class="navbar-logo" src="img/logo.svg" alt="Pro Students Cottbus" />
            </a>
    
            <button>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
        </div>
        
        <div class="navbar-links">
            <a href="it_support.html">IT Support</a>
            <div class="dropdown-link">
                <a href="it_courses_for_private.html">For Private</a>
                <div class="dropdown-link-content">
                     <a href="courses_for_children.html">For Children</a>
                     <a href="courses_for_students.html">For Students</a>
                     <a href="courses_for_seniors.html">For Seniors</a>
                </div>
            </div>
            <div class="dropdown-link">
                <a href="services_for_companies.html">For Companies</a>
                <div class="dropdown-link-content">
                    <a href='courses_for_companies.html'>IT Courses</a>
                    <a href='consulting_for_companies.html'>Consulting</a>
                </div>
            </div>
        </div>
    </div>
</nav>
