<nav class="navbar" aria-label="header-nav">
    <div class="container">
        <a href="/" class="navbar-logo">
            <img src="/img/logo.svg" alt="Pro Students Cottbus - Home" />
        </a>
    
        <input type="checkbox" hidden="hidden" id="navbar-menu-button" />
        <label class="navbar-menu-button-icon" for="navbar-menu-button" tabindex="0">
            <svg xmlns="http://www.w3.org/2000/svg" class="hamburger-icon" viewBox="0 0 20 20" width="20" height="20" fill="currentColor">
                <title>Menu</title>
                <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="close-icon" fill="none" viewBox="0 0 24 24" width="24" height="24" stroke="currentColor">
                <title>Close</title>
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </label>
        
        <div class="navbar-links">
            <a href="/it-support.html">IT Support</a>
            <div class="dropdown-link">
                <a href="/private-it-courses.html">For Private</a>
                <div class="dropdown-link-content">
                     <a href="/private-it-courses/for-children.html">For Children</a>
                     <a href="/private-it-courses/for-students.html">For Students</a>
                     <a href="/private-it-courses/for-seniors.html">For Seniors</a>
                </div>
            </div>
            <div class="dropdown-link">
                <a href="/services-for-companies.html">For Companies</a>
                <div class="dropdown-link-content">
                    <a href="/services-for-companies/it-courses.html">IT Courses</a>
                    <a href="/services-for-companies/consulting.html">Consulting</a>
                </div>
            </div>
        </div>
    </div>
</nav>
