<div class="warning">
    <div class="container">
        <img src="/img/no-script-warning-illustration.svg" alt="" />
        <h3>Whoops!</h3>
        <p>
            It seems like you do not have JavaScript enabled. This is required to load our currently available courses. Please <a class="inline-link" href="https://enable-javascript.com/" title="How to enable JavaScript in your browser and why">enable JavaScript</a> in your browser's settings and reload this page.
        </p>
    </div>
</div>
