/*
############################
    GLOBAL SETUP
############################
*/
:root {
    --primary: #BB4430;            /* Color for calls to action (dark red) */
    --primary-light: #F2D4CE;      /* Lighter variant of primary color for non-focused calls to action */
    --secondary: #7EBDC2;          /* Secondary color for contact form (light blue / indigo) */
    --secondary-light: #F1F8F8;    /* TODO: Unused. remove? */
    --secondary-dark: #214245;     /* Darker variant of secondary color (e.g. for corresponding button text) */
    --dark: #231F20;               /* Main text color */
    --light: #F9F9FF;              /* Main page color and text on dark backgrounds */
    --light-light-accent: #F5F5F5; /* For separation of sections */
    --light-dark-accent: #E5E5E5;  /* For clear separation of the header */
    --light-darker-accent: #929292;/* For breadcrumb */
    
    --golden-ratio-small: 38,2%;
    --golden-ratio-big: 61,8%;
    --golden-ratio-illustration-margin: 2rem;
    
    --rounded-edges: 4px;
}

html, body {
    width: 100%;
    min-height: 100%;
    color: var(--dark);
    background-color: var(--light);
    font-family: ui-sans-serif, systrem-ui, -apple-systrem, BlinkMacSystremFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color remoji", "Segoe UI remoji", "Segoe UI Symbol", "Noto Color remoji";
    margin: 0 0 0 0;
    font-size: 16pt;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5rem;
}

/*
############################
    NAVBAR (Header)
############################
*/
.navbar {
    background-color: var(--light-dark-accent);
    box-shadow: 0px 0px 5px 1px grey;
}

.navbar .container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-logo {
    height: 2rem;
}

.navbar .navbar-links {
    margin-left: auto;
    display: flex;
    flex-direction: row;
}

.navbar .navbar-links > a, .navbar .navbar-links > .dropdown-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.navbar .navbar-links > a, .navbar .navbar-links > .dropdown-link > a {
    padding: 1.5rem 1rem;
}

.navbar .navbar-links > a:hover, .navbar .navbar-links > .dropdown-link:hover > a {
    color: var(--primary);
}

.navbar .navbar-links a:last-child, .navbar .navbar-links .dropdown-link:last-child {
    margin-right: 0;
}

.dropdown-link {
    float: left;
}

.dropdown-link > a::after {
    content: url('img/dropdown-arrow.svg');
}

.dropdown-link-content {
    display: none;
    position: absolute;
    background-color: var(--light);
    box-shadow: 0px 0px 5px 1px grey;
    top: 3.8rem;
    flex-direction: column;
    border-radius: var(--rounded-edges);
}

.navbar .navbar-links .dropdown-link .dropdown-link-content a {
    display: block;
    text-align: left;
    padding-right: auto;
    padding: 0.5rem 3rem 0.5rem 1.5rem;
}

.navbar .navbar-links .dropdown-link .dropdown-link-content a:hover {
    background-color: var(--light-dark-accent);
}

.navbar .navbar-links .dropdown-link .dropdown-link-content a:first-child {
    border-radius: var(--rounded-edges) var(--rounded-edges) 0 0;
}

.navbar .navbar-links .dropdown-link .dropdown-link-content a:last-child {
    border-radius: 0 0 var(--rounded-edges) var(--rounded-edges);
}

.navbar .navbar-links .dropdown-link .dropdown-link-content a:last-child {
    margin-bottom: 0;
}

.dropdown-link:hover .dropdown-link-content, .dropdown-link-content:hover {
    display: flex;
}


/*
############################
    BREADCRUMB (Header)
############################
*/
nav.breadcrumb > .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    color: var(--light-darker-accent);
}
    
 .breadcrumb-sep::before {
     padding-left: 1rem;
     padding-right: 1rem;
     content: '>';
 }

#home-icon {
    width: 1.5rem;
}

/*
############################
    PAGE HEADING (Header)
############################
*/
.page-heading > .container {
    display: flex;
    flex-direction: row;
    margin-bottom: 5rem;
}

.page-heading-text {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.page-heading-text .main-title {
    display: block;
    color: var(--primary);
    font-size: 3.5rem;
}

.page-heading-text .sub-title {
    display: block;
    color:var(--dark);
    font-size: 1.5rem;
}

.page-heading .actions {
    margin-top: 25px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.page-heading .actions .action-primary {
    display: block;
    color: var(--light);
    background-color: var(--primary);
    border-radius: var(--rounded-edges);
    padding: 25px;
    padding-left: 35px;
    padding-right: 35px;
    margin-right: 25px;
}

.page-heading .actions .action-secondary {
    display: block;
    color: var(--primary);
    background-color: var(--primary-light);
    border-radius: var(--rounded-edges);
    padding: 25px;
    padding-left: 35px;
    padding-right: 35px;
    margin-right: 25px;
}

.page-heading-illustration {
    display: block;
    text-align: left;
    width: 50%;
}

.page-heading-illustration > img {
    max-width: 90%;
    max-height: 50vh;
    margin: auto;
}

/*
############################
    CONTENTS (Courses)
############################
*/
main .container {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

.course .container {
    display: flex;
    flex-direction: row;
}

.course-illustration {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: var(--golden-ratio-small);
}

.course-illustration > img {
    width: 90%;
    height: auto;
}

.course-information {
    display: block;
    width: var(--golden-ratio-big);
}

.course-information > h3 {
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 0;
}

.course-information > h3:after {
    content: " ";
    display: block;
    margin-top: .5rem;
    margin-bottom: 1rem;
    height: 4px;
    width: 1.2rem;
    background: var(--primary);
    border: none;
}

.course-information .actions {
    margin-top: 25px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.course-information .actions .action-primary {
    display: block;
    color: var(--light);
    background-color: var(--primary);
    padding: 15px;
    border-radius: var(--rounded-edges);
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
}

.course-information .actions .action-secondary {
    display: block;
    color: var(--primary);
    background-color: var(--primary-light);
    padding: 15px;
    border-radius: var(--rounded-edges);
    padding-left: 20px;
    padding-right: 20px;
}

.course:nth-child(odd) {
    background-color: var(--light-light-accent);
}

.course:nth-child(odd) .course-illustration {
    order: 1;
    margin-right: var(--golden-ratio-illustration-margin);
}

.course:nth-child(odd) .course-information {
    order: 2;
    justify-content: left;
}

.course:nth-child(even) {
    background-color: var(--light);
}

.course:nth-child(even) .course-information {
    order: 1;
    text-align: left;
}

.course:nth-child(even) .course-illustration {
    order: 2;
    justify-content: right;
    margin-left: var(--golden-ratio-illustration-margin);
}


/*
############################
    CONTENTS (FAQ)
############################
*/
.faq {
    background-color: var(--light-light-accent); /* TODO: might look bad with odd number of courses */
}

.faq .container {
    display: flex;
    flex-direction: row;
}

.faq-heading-container {
    display: block;
    width: var(--golden-ratio-small);
    margin-right: var(--golden-ratio-illustration-margin);
}

.faq-heading-container > h3 {
    margin-top: 0;
    font-size: 1.5rem;
}

.faq-heading-container > img {
    width: 80%;
}

.faq-questions-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: var(--golden-ratio-big);
}

.question-answer {
    margin-bottom: 15px;
}

.question-answer > .question {
    display: block;
    font-weight: bold;
}

/*
############################
    CONTENTS (Contact)
############################
*/
.contact {
    font-size: 1.5rem;
    background-color: var(--secondary);
    color: var(--light);
}

.contact > .container {
    display: flex;
    justify-content: space-between;
    padding: 5%;
    align-items: center;
}

.contact-question-answer {
    display: flex;
    flex-direction: column;
}

.contact-question {
    display: block;
    color: var(--light);
    font-weight: bold;
    margin-bottom: 1rem;
}

.contact-answer {
    display: block;
    color: var(--dark);
}
.contact-action > a {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    color: var(--secondary-dark);
    background-color: var(--light);
    border-radius: var(--rounded-edges);
    align-items: center;
    padding: 1.5rem;
}