/*
############################
    GLOBAL SETUP
############################
*/
:root {
    --primary: #BB4430;
    --primary-light: #F2D4CE;
    --dark: #231F20;
    --light: #F9F9FF;
    --light-dark-accent: #E5E5E5;
    --light-light-accent: #F5F5F5;
    --secondary: #7EBDC2;
    --secondary-light: #F1F8F8;
    --secondary-dark: #214245;
    
    --golden-ratio-small: 38,2%;
    --golden-ratio-big: 61,8%;
    --rounded-edges: 4px;
}

html, body {
    width: 100%;
    min-height: 100%;
    color: var(--dark);
    background-color: var(--light);
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0 0 0 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

/*
############################
    NAVBAR (Header)
############################
*/
.navbar {
    padding: 1rem 0;
    background-color: var(--light-dark-accent);
    box-shadow: 0px 0px 5px 1px grey;
}

.navbar .container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-logo {
    height: 3rem;
}

.navbar .navbar-links {
    margin-left: auto;
    display: flex;
    flex-direction: row;
}

.navbar .navbar-links > a, .navbar .navbar-links > .dropdown-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2rem;
    height: 3rem;
}

.navbar .navbar-links a:last-child, .navbar .navbar-links .dropdown-link:last-child {
    margin-right: 0;
}

.dropdown-link {
    overflow: hidden;
    float: left;
}

.dropdown-link > a::after {
    content: url('img/dropdown-arrow.svg');
}

.dropdown-link-content {
    display: none;
    position: absolute;
    background-color: var(--light);
    box-shadow: 0px 0px 5px 1px grey;
    margin-top: 6rem;
    flex-direction: column;
    padding-right: 3rem;
    padding-left: 1.5rem;
    padding-top: .5rem;
    padding-bottom: 1rem;
    border-radius: var(--rounded-edges);
}

.navbar .navbar-links .dropdown-link .dropdown-link-content a {
    display: block;
    text-align: left;
    padding-right: auto;
    margin-bottom: 1rem;
}

.navbar .navbar-links .dropdown-link .dropdown-link-content a:last-child {
    margin-bottom: 0;
}

.dropdown-link:hover .dropdown-link-content {
    display: flex;
}


/*
############################
    BREADCRUMB (Header)
############################
*/
nav.breadcrumb > .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    color: var(--dark);
}
    
 .breadcrumb-sep::before {
     padding-left: 1em;
     padding-right: 1em;
     content: '>';
 }

#home-icon {
    width: 1.5rem;
}

/*
############################
    PAGE HEADING (Header)
############################
*/
.page-heading > .container {
    display: flex;
    flex-direction: row;
    padding-bottom: 15vh;
}

.page-heading-text {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.page-heading-text .main-title {;
    display: block;
    color: var(--primary);
    font-size: 4rem;
}

.page-heading-text .sub-title {
    display: block;
    color:var(--dark);
}

.page-heading .actions {
    margin-top: 25px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.page-heading .actions .action-primary {
    display: block;
    color: var(--light);
    background-color: var(--primary);
    border-radius: var(--rounded-edges);
    padding: 25px;
    padding-left: 35px;
    padding-right: 35px;
    margin-right: 25px;
}

.page-heading .actions .action-secondary {
    display: block;
    color: var(--primary);
    background-color: var(--primary-light);
    border-radius: var(--rounded-edges);
    padding: 25px;
    padding-left: 35px;
    padding-right: 35px;
    margin-right: 25px;
}

.page-heading-illustration {
    display: block;
    text-align: left;
    width: 50%;
}

.page-heading-illustration > img {
    max-width: 90%;
    max-height: 50vh;
    margin: auto;
}

/*
############################
    CONTENTS (Courses)
############################
*/
main {
    clear: both;
}

.course .container {
    display: flex;
    flex-direction: row;
    padding: 5%;
}

.course:nth-child(odd) {
    background-color: var(--light-light-accent);
}

.course:nth-child(odd) .course-illustration {
    order: 1;
}

.course:nth-child(odd) .course-information {
    order: 2;
}

.course:nth-child(even) {
    background-color: var(--light);
}

.course:nth-child(even) .course-information {
    order: 1;
    text-align: left;
}

.course:nth-child(even) .course-illustration {
    order: 2;
    text-align: right;
}

.course-illustration {
    display: block;
    width: 38%;
}

.course-illustration > img {
    width: 80%;
}

.course-information {
    display: block;
    width: 62%;
}

.course-information > h3 {
    font-weight: bold;
}

.course-information > h3:after {
    content: " ";
    display: block;
    margin-top: .5em;
    margin-bottom: 1em;
    height: 4px;
    width: 2em;
    background: var(--primary);
    border: none;
}

.course-information .actions {
    margin-top: 25px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.course-information .actions .action-primary {
    display: block;
    color: var(--light);
    background-color: var(--primary);
    padding: 15px;
    border-radius: var(--rounded-edges);
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
}

.course-information .actions .action-secondary {
    display: block;
    color: var(--primary);
    background-color: var(--primary-light);
    padding: 15px;
    border-radius: var(--rounded-edges);
    padding-left: 20px;
    padding-right: 20px;
}


/*
############################
    CONTENTS (FAQ)
############################
*/
.faq {
    background-color: var(--light-light-accent); /* TODO: might look bad with odd number of courses */
    padding: 5%;
}

.faq .container {
    display: flex;
    flex-direction: row;
}

.faq-heading-container {
    display: block;
    width: var(--golden-ratio-small);
}

.faq-heading-container > img {
    max-width: 80%;
    max-height: 50vh;
}

.faq-questions-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: var(--golden-ratio-big);
}

.question-answer {
    margin-bottom: 15px;
}

.question-answer > .question {
    display: block;
    font-weight: bold;
}

/*
############################
    CONTENTS (Contact)
############################
*/
.contact {
    background-color: var(--secondary);
    color: var(--light);
}
